{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/interface-name-prefix": [
            1,
            {"prefixWithI": "always"}
        ],
        "@typescript-eslint/ban-ts-ignore": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}
